<div class="container">
		<div class="row">
			<div class="row">
      <div class="col-md-2 col-sm-2 top-30">
        <a class="btn btn-default" href="/blog">Go to back to website</a>
      </div>
    </div>
			<div class="col-md-6 col-md-offset-3">
				<form id="car-input">
					<div class="form-group">
						<label for="make">Make:</label>
						<input type="text" class="form-control" id="make">
						<br />
						<label for="model">Model:</label>
						<textarea class="form-control" rows="10" id="body"></textarea>
						<div class="form-group">
							<label for="category">Select Category:</label>
							<select class="form-control" id="category">
						    <option value="Personal">Personal</option>
						    <option value="Product Review">Product Review</option>
						    <option value="Political">Political</option>
  						</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{{!--
<ul>
    {{#each cars}}
        <li>
            {{car}}
        </li>
    {{/each}}
</ul>--}}