{{> cars/nav-bar}}
<br>
<div class="container">
    <div class="row">
        <div class="col-med-6">
            <address>
                <strong>B&amp;R Eagle Motors</strong><br> 610B County Rd 7300<br> Lubbock, TX 79404<br>
                <abbr title="Phone">P:</abbr> (806) 445-0046
            </address>

            <address>
                <strong>Email</strong><br>
                <a href="mailto:#">office@bnreaglemotors.com</a>
            </address>
        </div>
        <div class="col-med-6">
        </div>
    </div>
</div>
{{> cars/footer}}