<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/login" method="post">
        <div>
          <label>Username:</label>
          <input type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" name="password" />
        </div>
        <div>
          <input type="submit" value="Log In" />
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h4>Create a new user:</h4>
      <form>
<!--    <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="email">
        </div> -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="password">
        </div>
        <div class="form-group">
          <label for="passwordMatch">Re-enter password</label>
          <input type="password" name="passwordMatch" class="form-control" id="passwordMatch" placeholder="password">
        </div>
      </form>
    </div>
  </div>
</div>