<form id="delete-btn" action="/{{this.id}}?_method=DELETE" method="POST">
    <input type="hidden" name="sold" value="true">
    <button class="admin-btn btn btn-danger" type="submit">Sold</button>
</form>