{{!--<nav class="navbar bottom navbar-light bg-faded">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>--}}

<footer class="footer text-muted">
    <div class="container">
        <div class="footer-links">
            <a class="social" href="https://www.facebook.com/bnreaglemotors" target="_blank">Facebook</a>

            <a class="social" href="https://www.instagram.com/bnreaglemotors/" target="_blank">Instagram</a>
        </div>
    <p>&copy; B&amp;R Eagle Motors 2017</p>
    <p>Designed and built by <a href="#" target="_blank">Raquel Rodriguez</a> and <a href="http://www.rachelev.com" target="_blank">Rachel Vaughan.</a>
    
    </div>
  </footer>