{{!--<nav class="navbar bottom navbar-light bg-faded">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>--}}

<footer class="footer text-muted">
    <div class="container">
        <div class="footer-links">
            <a href="https://www.facebook.com/bnreaglemotors">Facebook</a>

            <a href="https://www.instagram.com/bnreaglemotors/">Instagram</a>
        </div>
    <p>&copy; B&amp;R Eagle Motors 2017</p>
    <p>Designed and built by <a href="#">Raquel Rodriguez</a> and <a href="http://www.rachelev.com">Rachel Vaughan.</a>
    
    </div>
  </footer>